<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion" id="accordionExample">
                    <ngb-panel id="static-1" title=" What if my order arrives damaged or is incorrect?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">We take great care in packaging your order, but if it arrives damaged or is incorrect, please contact our customer support team within [X] days of receiving your order, and we will promptly assist you with a replacement or refund.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title=" How can I track my order?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">Once your order is shipped, you'll receive a tracking number via email. You can use this number to monitor the progress of your delivery.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="What are your shipping options?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">We offer standard and expedited shipping options. Shipping costs and estimated delivery times are provided at checkout.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4" title=" What is your return policy?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">We want you to be completely satisfied with your purchase. If you're not happy with your order, please refer to our Returns Policy for detailed information on the return process.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5" title="How do I initiate a return or exchange?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">To initiate a return or exchange, please contact our customer support team. We will guide you through the process and provide instructions for returning your item.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6" title="Are your perfumes oil-based?">
                        <ng-template ngbPanelContent>
                            <p class="mb-0">Yes, all our perfumes are oil-based, formulated for long-lasting and luxurious fragrance.</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->